body{
	background-color: #648898;
	background-image: url(terminal.png);
	background-repeat: no-repeat;
	background-position: top center;
	color: #2cdd86;
	font-size: 30px;
}

*{
	box-sizing: border-box;
}

#wrapper{
	width: 900px;
	height: 750px;
margin:0 auto;
padding: 120px 100px 160px 100px;
}

#available-note{
	margin: 20px auto;
}

#terminal-body{
	width: 100%;
}

#button-menu{
	width: 620px;
	margin: 0 auto;
}

p{
	margin: 2px;
}

button{
	height: 60px;
	width: 200px;
    background-image: none; 
    background-color: transparent;
	color: #2cdd86;
	padding:10px;
	border: 3px solid #2cdd86;
	float: left;
	font-size: 20px;
	cursor: pointer;
}

#terminal-body>button{
	height: 40px;
	width: 300px;
	padding: 4px;
	float: none;
}

#button-menu>button:nth-child(2){	
	margin:0 10px;
}

input{
	width: 300px;
	margin: 10px 0px;
	background-image: none; 
    background-color: transparent;
	color: #2cdd86;
	padding:10px;
	border: 3px solid #2cdd86;
	font-size: 20px;
}