$green: #2cdd86
$center: 0 auto

*
	box-sizing: border-box

body
	background-color: #648898
	background-image: url(../terminal.png)
	background-repeat: no-repeat
	background-position: top center
	color: $green
	font-size: 30px

#wrapper
	width: 900px
	height: 750px
	margin: $center
	padding: 120px 100px 160px 100px

#available-note
	margin: 20px auto

#terminal-body
	width: 100%

	& > button
		height: 40px
		width: 300px
		padding: 4px
		float: none

#button-menu
	width: 620px
	margin: $center

	& > button:nth-child(2)	
		margin: 0 10px

p
	margin: 2px

button
	height: 60px
	width: 200px
	background-image: none 
	background-color: transparent
	color: $green
	padding: 10px
	border: 3px solid $green
	float: left
	font-size: 20px
	cursor: pointer

input
	width: 300px
	margin: 10px 0px
	background-image: none 
	background-color: transparent
	color: $green
	padding: 10px
	border: 3px solid $green
	font-size: 20px