input:invalid {border-color: red;}
input:valid {border-color: green;}

body{
	background-image: url(images/background.jpg);
	background-size: 100%;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

input[id*="-field"]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

#wrapper-for-form {
	width: 50%;
	margin:0 auto;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.wrapper-for-card{
	width: 545px;
	height: 300px;
	background-size: 100%;
	margin: 0px auto;
	margin-top: 30px;
	box-shadow: 17px 17px 5px rgba(0,0,0,0.6);
	padding: 0;
}

.card-front{
	background-image: url(images/background-front.png);
}

.card-back{
	background-image: url(images/background-back.png);
}

.front{
	width: 43%;
	height: 40%;
	position: relative;
	top: 55%;
	margin: 0% 5% 0% 2%;
	float: left;
}

.logo-back{
	position: relative;
	top: 10%;
	width: 40%;
	height:30%;
	margin: 0 auto;
}

#tel-place-div, #site-place-div, #email-place-div, #adress-place-div, #contact-back{
	text-align: right;
	margin: 5px 10px 15px 0;
	font-size: 13px;
	color: #f2f2f2;
	font-family: Montserrat;
}


#contact-back{
	width: 40%;
	margin: 0 auto;
	height: 5%;
	position: relative;
	top:63%;
	text-align: center;
}

.img-info{
	float: right;
	width: 20px;
	margin-left: 10px;
}

#name-place{
	position: relative;
	top: 15%;
	color: #f2f2f2;
	font-family: "Montserrat - Semi Bold";
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

#position-place{
	color: #ff385c;
	font-family: "Open Sans - Semibold";
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	text-align: center;
}

#img-logo{
	display: block;
width: 95px;
margin: 0 auto;
}

#logo-text{
color: #212833;
font-family: "Montserrat - Extra Bold";
font-size: 26px;
text-transform: uppercase;
text-align: center;
}