
@media screen and (min-width: 320px) and (max-width: 640px)
{
	#blocks-wrapper{
		width: 310px;
	}
}

@media screen and (min-width: 640px) and (max-width: 960px)
{
	#blocks-wrapper{
		width: 620px;
	}
}

@media screen and (min-width: 320px) and (max-width: 480px)
{
	[name="enter-button"], [name="e-mail"] {
		width: 100%;
		margin-top: 5px;
	}
}

@media screen and (min-width: 320px) and (max-width: 960px) { 

	.wrapper{
		width: 100%;
	}

	header{
		padding-top: 20px;
	}

	#detail-header #ico {
		display: none;
	}

	#menu-lines{
		position: absolute;
	}

	 #detail-header .logo{
	 	width: 100%;
	 }
	
	.logo{
		width: 100%;
		float: none;
		text-align: center;
	}

	 #detail-header .logo{
	 	width: 100%;
	 }

	nav{
		margin-top: 20px;
		width: 100%;
	}


	nav ul li{
		width: 30%;
		margin: 0 1%;
		padding:0;
	}
	
	#slider{
		margin-top: 20px;
	}

	.article{
		width: 100%;
		float: none;
	}

	h1{
		text-align: center;
	}

	.first-background .art-1,.first-background  .art-2{
		text-align: center;
	}

	#pic-os {
		float: none;
		width: 160px;
		margin:0 auto;
	}

	.pic{
		margin:0;
	}
	
	.pic:nth-child(2){
		margin: 0 20px;
	}

	.tablet{
		float: none;
		margin: 20px auto 0;
		width: 300px;
	}

	.block-features{
		margin: 0 10px;
	}

	#blocks-wrapper{ 
		margin: 0 auto; 
	}

	[name="enter-button"], [name="e-mail"] {
		font-size: 16px;	
	}

	#ico{
		padding-top: 20px;
	}

	#info{
		padding-top: 30px;
	}

	.info-block{
		width: 24%;
		text-align: center;
	}

	.info-block:nth-child(2){
		float: none;

	}

	.info-block:first-child{
		display: block;
		width: 200px;
		margin:0 auto;
	}

	.article-detail>.art-2{
	width: 90%;
}

	.tablet-detail{
		display: none;
	}

	.detail-1, .detail-2{
		float: none;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
}
