*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;

}

.background{
	width: 100%;
	min-height: 100vh;
	display: inline-block;
}

.first-background{
	background-color:  #fd0;
}

.second-background{
	background-color:  #fff;
}

.third-background{
	background-color:  #010101;
}

.wrapper{
	position: relative;
	width: 960px;
	margin:0 auto;
	padding: 0 10px;
	top:50%;
}

header{
  padding-top: 60px;
  width: 100%;
}

nav ul {
  list-style: none;
  margin:0;
}

nav ul li{
  display: inline-block;
  width: 15%;
  text-align: center;
  margin: 0;
  font-size: 22px;
  font-style: bold;
}

nav ul li:first-child{
	text-align: left;
}

nav ul li:last-child{
	text-align: right;
}

ul{
	padding:0;
}

.logo {
  width: 50%;
  float: left;
  font-size: 30px;
  font-style: bold;
}

.logo img {
  vertical-align: middle;
  margin-right: 5px;
}

#slider {
  margin-top: 70px;
  min-height: 100%;
}

 .article {
 vertical-align: middle;
 width: 30%;
 float: left;
}

h1{
  font-size: 32px;
}

.art-1 {
  font-size:20px;
  color: #313841;
}

.art-2 {
  font-size: 16px;
  color: #555;
}

.pic{
  margin: 20px 35px 0 0;
}

.tablet{
  background: #fff;
  border-radius: 25px;
  width: 320px;
  height: 470px;
  margin-left: 20%;
  padding:  44px 14px;
  float: left;
}

#tablet-screen {
  background: #010101;
  height: 100%;
}

#tablet-logo{
  position: relative;
  color:#fcdb00; 
  float: none;
  margin:0 auto;
  top: 50%;
}

.slider-box {
  clear: both;
  width: 100%;
  padding: 40px 0 50px 0;
}

#slider-circle{
  width: 72px;
  margin:0 auto;
}

.circle {
  background: #fff;
  opacity: 0.5;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  float: left;
  margin: 0 4px;
}

.circle-active{
  opacity: 1;
}

#features{
	display: inline-block;
}

.article-detail{
	text-align: center;
	width: 100%;
	padding-top: 20px;
}

.block-features{
	padding-top: 50px;
	width: 250px;
	margin:0 30px;
	float: left;
	position: relative;
}

.pic-features{
	float: left;
	width: 20%;
}

.description {
	float: right;
	width: 80%;
}

.description>.art-1{
	margin: 0;
	color: #010101;
}

.description>.art-2{
	padding-top: 10px;
}

#pagination{
	padding-top: 50px;
	padding-bottom: 20px;
	clear: both;
	text-align: center;
	font-size: 26px;
}

#us{
	width: 80%;
	margin: 0 auto;
}

#us h1, #us .art-1{
	text-align: center;
}

#us h1{
	color: #fd0;
}

#input-email{
	margin: 0 auto;
	padding-top: 40px;
}

[name="e-mail"]{
	width: 70%;
	height: 50px;
	background-color: #fff;
	border-radius: 5px;
	font-size: 20px;
	border: none;
	font-style: italic;
}

[name="enter-button"]{
	width: 20%;
	height: 50px;
	background-color: #fcdb00;
	border-radius: 5px;
	border: none;
	font-size: 20px;
}

#ico{
	padding-top: 70px;
	width: 270px;
	margin: 0 auto;
}

#ico>img{
	margin: 0 15px;
	float: left;
}

#info{
	float: none;
	padding-top: 130px;

}

.info-block{
	display: inline-block;
	width: 16%;
	vertical-align: top;
}

.info-block:first-child{
	clear: both;
	width: 32%;
}

.info-block .art-2{
	color: #fff;
}

#detail-header{
display: block;
vertical-align: middle;
}

#detail-header #menu-lines, #detail-header .logo, #detail-header #ico{
width: 33.3%;
float: left;
padding: 0;
}

#detail-header .logo{
	text-align: center;
}

#detail-header #ico img{
	float: right;
}

#dow-img{
	clear: both;
	width: 300px;
	margin: 0 auto;
	height: 100%;
}

.circle-for-pic{
	width: 70px;
	height: 70px;
	border: 1px solid #010101;
	border-radius: 70px;
	display: inline-block;
}

.circle-for-pic>img{
	position: relative;
	float: none;
	display: block;
	margin: auto;
	top: 20%;
}

.circle-for-pic:last-child{
	margin-left: 35px;
}

.circle-for-pic:first-child{
	margin-right: 35px;
}

.slider-detail{
padding-top: 25%;
}

.block-features-detail{
	float: none;
	width: 100%;
}

.block-features-detail .description{
	width: 100%
}

.tablet-detail{
background: #010101;
margin: 0 70px;
float: left;
}

.detail-desc{
	display: inline-block;
}

.tablet-detail #tablet-screen{
	background: #fff;
}

.tablet-detail #tablet-screen #tablet-logo{
	color: #010101;
}

.detail-1{
	float: left;
	width: 25%;
}

.detail-2{
	float: right;
	width: 25%;
}

.article-detail>.art-2{
	margin: 0 auto;
	width: 50%;
	color: #fff;
}