*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: PT Sans;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 0 230px;
}

.first-wrapper{
  background-color: #fd0;
  padding-bottom: 60px;
}

.second-wrapper{
  background: red;
}

.third-wrapper{
  background-color: #000;
}

main{
  min-width: 800px;
}

header{
  padding-top: 60px;
  width: 100%;
}

#menu-list {
  list-style: none;
  margin:0;
}

li{
  display: inline-block;
  width: 17%;
  text-align: right;
  margin: 0;
  font-size: 22px;
  font-style: bold;
}


.logo {
  width: 49%;
  float: left;
  font-size: 30px;
  font-style: bold;
}

.logo img {
  vertical-align: middle;
  margin-right: 5px;
}

#slider {
  margin-top: 70px;
  min-height: 480px;
}

 .article {
 vertical-align: middle;
 max-width: 30%;
 float: left;
}

h1{
  font-size: 32px;
}

.art-1 {
  font-size:20px;
  color: #313841;
}

.art-2 {
  font-size: 16px;
  color: #555;
}

.pic{
  margin: 40px 35px 0 0;
}

#tablet{
  background: #fff;
  border-radius: 25px;
  width: 320px;
  height: 470px;
  margin-left: 300px;
  padding:  44px 14px;
  float: left;
}

#tablet-screen {
  background: #010101;
  height: 100%;
}

#tablet-logo{
  position: relative;
  color:#fcdb00; 
  float: none;
  margin: auto;
  top: 50%;
}

#slider-box {
  clear: both;
  width: 100%;
}

#slider-circle{
  width: 72px;
  margin: auto;
}

.circle {
  background: #fff;
  opacity: 0.5;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  float: left;
  margin: 0 4px;
}

.circle-active{
  opacity: 1;
}